body{
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

                        /* HEADER */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}
a{
   text-decoration: none;
   color: rgba(0, 0, 0, 0.925);
   font-family: Roboto;
   font-size: 16px;
   font-weight: 400;
   margin-right: 25px;
   transition: 0.5s;
}
.tickets{
    height: 50px;
    width: 150px;
    color: #f0f6ff;
    background-color: #116dff;
    border: none;
    font-weight: 500;
    font-size: 15px;
    font-family: Roboto;
    transition: 0.5s;
}
.tickets:hover{
    background-color: #0355da;
    transition: 0.5s;
}
a:hover{
    color: #116dff;
    transition: 0.5s;
}

                            /* FOOTER */

footer{
    background-color: #191919;
    padding: 50px 70px;
}
.row{
    display: flex;
    justify-content: space-between;
    margin: 90px 0;
    align-items: center;
}
footer h1{
    color: white;
    font-family: "Noto Serif", serif;
    font-size: 38px;
    font-weight: 400;
}
.footerhead{
    color: white;
    font-family: "Noto Serif", serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 39px;
}
.desc{
    color: white;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
article p{
    color: white;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.buttonfooter{
    height: 50px;
    width: 150px;
    color: #f0f6ff;
    background-color: #116dff;
    border: none;
    font-weight: 500;
    font-size: 15px;
    font-family: Roboto;
    transition: 0.5s; 
    margin-top: 15px;
}

.buttonfooter:hover{
    background-color: #0355da;
    transition: 0.5s;
}

                                /* HOME */
#home{
    margin-top: 40px;
}

.first-section{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0 90px;
}

.firstimage{
    width: 100%;
}
.divimage{
    padding: 0 90px;
}

.design{
    color: #191919;
    font-family: "Noto Serif", serif;
    font-size: 48px;
    font-weight: 400;
}
.dateplace{
    color: #191919;
    font-family: "Noto Serif", serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    text-align: end;
}
.challenge{
    color: #191919;
    font-family: "Noto Serif", serif;
    font-size: 28px;
    font-weight: 400;
}


                                    /* ABOUT */

#about{ 
    margin-top: 130px; 
    margin-bottom: 150px; 
    padding: 0 70px;
}


.about{
    display: flex;
    justify-content: space-between;
}
.event{
    color: #191919;
    font-family: "Noto Serif", serif;
    font-size: 42px;
    font-weight: 400;
    line-height: 49px;
}
.des{
    color: #3a3a3a;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    width: 485px;
}
.special{
    color: #3a3a3a;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 485px;
}


                                /* SCHEDULE */
#eventschedule{
    background-color: #f0f6ff;
    padding: 100px 0px;
    margin-bottom: 150px;
} 

.sched{
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
}

.eventrow{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 0 70px;
    column-gap: 20px;
    margin-top: 85px;
}                             
.time{
    color: #116dff;
    font-family: "Noto Serif", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}
.hd{
    color: #191919;
    font-family: "Noto Serif", serif;
    font-size: 31px;
    font-weight: 400;
    line-height: 34px;
    margin-top: 10px;
}
.ds{
    color: #191919;
    font-family: "Noto Serif", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
    margin-top: -4px;
}


                                /* SPEAKERS */


#speakers{
    margin-bottom: 150px;
} 
.speakersdiv{
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
}
.speakersrow{
    display: flex;
    padding: 0 70px;
    column-gap: 50px;
    margin-top: 85px;
}
.speakername{
    color: #191919;
    font-family: "Noto Serif", serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
}
.speakerjob{
    color: #3a3a3a;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

                    /* ORGANISERS */
#organisers{
    background-color: #f0f6ff;
    padding: 110px 70px;
}
.organdiv{
    display: flex;
    justify-content: space-between;
}
.buttonorgan{
    height: 50px;
    width: 200px;
    color: #f0f6ff;
    background-color: #116dff;
    border: none;
    font-weight: 500;
    font-size: 15px;
    font-family: Roboto;
    transition: 0.5s; 
    margin-top: 15px;
}
.buttonorgan:hover{
    background-color: #0355da;
    transition: 0.5s;
}


                    /* SPONSORS */
#sponsors{
    justify-items: center;
    padding: 0px 70px; 
    margin-top: 100px;
}
.logos{
    display: flex;
    justify-content: space-between;
} 
.logoimages{
    padding: 0px 70px; 
    margin-bottom: 100px; 
    margin-top: 50px;
}




@media (max-width: 728px) {
    
    header{
        padding: 40px 25px;
    }

    #home{
        margin-top: 5px;
        width: 100%;
    }    
    .first-section {
        display: block;
        flex-wrap: wrap;
        padding: 0 25px;
        width: 100%;
    }

    .design{
        color: #191919;
        font-family: "Noto Serif", serif;
        font-size: 25px;
        font-weight: 400;
    }

    .dateplace{
        color: #191919;
        font-family: "Noto Serif", serif;
        font-size: 19px;
        font-weight: 400;
        line-height: 18px;
        text-align: start;
        margin-top: 0;
    }
    .challenge{
        color: #191919;
        font-family: "Noto Serif", serif;
        font-size: 20px;
        font-weight: 400;
    }
    .firstimage{
        width: 100%;
    }
    .divimage{
        padding: 0 25px;
    }
    nav{
        display: none;
    }
       
    

    a{
        display: none;
    }

    .tickets{
        display: none;
    }


    /* about */
    
    #about{ 
        margin-top: 50px; 
        margin-bottom: 30px; 
        padding: 0 25px;
        width: 100%;
    }
    
    
    .about{
        display: block;
    }
    
    .event{
        color: #191919;
        font-family: "Noto Serif", serif;
        font-size: 25px;
        font-weight: 400;
        line-height: 30px;
    }
    .des{
        color: #3a3a3a;
        font-family: Roboto, sans-serif;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
        width: 350px;
    }
    .special{
        color: #3a3a3a;
        font-family: Roboto, sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        width: 350px;
    }

                    /* schedule */
#eventschedule{
    background-color: #f0f6ff;
    padding: 10px 0;
    margin-bottom: 50px;
} 
.sched{
    display: block;
    padding: 0 25px;
    margin-bottom: 40px;
}
.eventrow{
    display: block;
    width: 100%;
    padding: 0 25px;
    margin: 0;
}

.time{
    color: #116dff;
    font-family: "Noto Serif", serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}
.hd{
    color: #191919;
    font-family: "Noto Serif", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 10px;
}
.ds{
    color: #191919;
    font-family: "Noto Serif", serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    margin-top: -4px;
}
.formobile{
    margin-bottom: 40px;
}

                    /* speakers */
#speakers{
    margin-bottom: 50px;
} 
.speakersdiv{
    padding: 0 25px;
    display: block;
}
.speakersrow{
    display: block;
    padding: 0 25px;
    column-gap: 50px;
    margin-top: 50px;
}
.speakername{
    color: #191919;
    font-family: "Noto Serif", serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 5px;
}
.speakerjob{
    color: #3a3a3a;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

                        /* organizers */
#organisers{
    background-color: #f0f6ff;
    padding: 50px 25px;
}
.organdiv{
    display: block;
}
.buttonorgan:hover{
    background-color: #0355da;
    transition: 0.5s;
}

                    /* sponsors */
#sponsors{
    padding: 0px 25px; 
    margin-top: 50px;
}
.sponsordiv{
    justify-items: center;
    text-align: center;
}
.logoimages{
    padding: 0px 70px; 
    margin-bottom: 40px; 
    margin-top: 20px;
}
.logos{
    display: block;
} 


                /* footer */
footer{
    background-color: #191919;
    padding: 20px 25px;
}
.row{
    display: block;
    margin: 5px 0;
}
footer h1{
    color: white;
    font-family: "Noto Serif", serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}
.footerhead{
    color: white;
    font-family: "Noto Serif", serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    line-height: 29px;
}
.desc{
    color: white;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
}
article p{
    color: white;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
.divbutton{
    justify-self: center;
    margin-bottom: 40px;
}
.buttonfooter:hover{
    background-color: #0355da;
    transition: 0.5s;
}
}